<html>
	<body>
		<div id="content">
			<div id="link-to-home"><%= link_to "Home", root_path, method: "get"%></div>

				<h1 id="title">Garden of Salvation</h1>
				<%= link_to "Home", root_path, method: "get"%>
				

				<h2 id="small-title">First Encounter</h2>
				<%= image_tag "garden/first_encounter_door.jpg" %></br>

					<h2 id="small-title">Overview and Setup</h2>
						<p id="details">For the first encounter load out is relative to what you feel comfortable with, I personally like to use a high damage super, a high impact sniper, good add clear weapon for the energy slot and either an LMG or grenade launcher in the heavy slot. If your looking to mix up your load out a sword is also works for killing the champions. For this encounter the teams will be split into two teams of three. You initially will have a stay team who will hang back and babysit the boss, and a go team who will move forward through the first door and clear adds in the following room. These teams will leapfrog each other as the encounter progresses, with each jump having the teams swap roles. </p>

					<h2 id="small-title">Stay Team</h2>
						<p id="details">The first team to stay behind, will be responsible for picking up the bosses wipe mechanic in the form of a large square mote the boss spits out. When picking up this mote, you will be given a 2 minute debuff called voltaic overflow. This debuff will cause you to die if you pick up another mote while its active. Be aware that the mote pickups are proximity based, so standing too close to a player picking up will also give you the debuff, if you already have it this will cause a death. Pickups can be called before hand, and should be staggered between the three players. Once a player has picked up they should be concentrating on add clear, after the first pickup two cyclopes will spawn in the arena with the boss and should be dealt with as quickly as possible. Once the away team has opened the door in the forward area, the stay team will progress past the away team and their roles will be swapped.</p>

					<h2 id="small-title">Away Team</h2>
						<p id="details">The away team will initially be the ones opening the door at the start of the encoutner, and then will progress forward into the next room killing adds as they move. There will be one overload minotaur and one cyclops, as well as a handful of red bar goblins and two hobgoblins. Once these adds have been killed, a yellow bar hydra will spawn called an "angelic" and when this final add is killed it will remove the shield over the tether box allowing the team to form a chain form the box to the tether point on the forward door. Once this door opens, the boss will dive into the ground from the previous room into the room that was just cleared, be careful of the boss entering the room as it will kill anyone standing in its spawn area. The away team will become responsible for picking up the bosses mote and preventing the wipe while the original stay team will progress forward and clear the room. This will allow the teams to stagger their pickups and prevent the need for players to sacrifice a life in order to pick up the mote.</p>

					<h2 id="small-title">Final Run</h2>
						<p id="details">After the last door is opened, the two teams will merge together for a final run down a long runway with multiple cyclopes on either side and three overload minotaurs at each pickup location. At this point its imperative to pick up the bosses mote, even if it means a player sacrificing themselves. As long as the revive timer hasn't been expended in previous rooms, you can afford to sacrifice a player to each of the three spits as the boss teleports down the runway. The overload minotaurs can be left alive if needed, but the cyclopes need to be killed as quickly as possible to prevent multiple players dying while picking up the bosses mote spit. Once the three motes have been picked up, the boss will move a final time and then retreat into the ground ending the first encounter.  </p>

				<h2 id="small-title">Second Encounter</h2>
				<%= image_tag "garden/garden_relay.jpg" %></br>

					<h2 id="small-title">Overview and Setup</h2>
						<p id="details">The goal for this encounter is to tether to each relay, and clear the four waves of angelic's at each plate after all four have been tethered to. Once the four angelic waves have been cleared, the center will be opened and two more waves of adds will be cleared as a group. For this encoutner I usually divide teams into three teams of two, two players will stay at the bottom, two players will go left, and two players will go right. These teams will split up after the first round of relays, but for the initial clear I find it to be fastest. There will occasionally be other strategies where two people will stay at bottom, and four players will go left moving clockwise around the four positions dropping players off as they move. When tethering to the relay any players in the tether will gain a 40 second buff called "enlightened" that will allow them to break the shields over the adds that spawn. The shields cannot be broken with any other damage, so its essential to break shields first before worrying about killing as to prevent a possible loss of buff while shielded enemies still remain.</p> 

					<h2 id="small-title">First relay tether</h2>
						<p id="details">
						For my strategy, One of the two players moving left will be the bottom-left floater, one will stay fixed left. For the two players moving right, one will be the top-right float and one will be fixed top. Once the right team has buffed at the first relay, they will then move on to clear the top and one of the bottom players will use the right hand portal to move to the right fixed position and stay right, making sure to buff before leaving bottom to ensure they have buff until the top-right floater can portal back down to rebuff.</p>

					<h2 id="small-title">Fixed Players</h2>
						<p id="details">Once a fixed player has arrived at their designated relay, they will no longer need to move between relays. They can move down hallways if needed to pick up ammo, but generally its advised to stay as close to the relay as possible because enemies can occasionally teleport past the player directly to the relay and sacrifice. If the player is running low on buff and have cleared their adds they can preemptively tether to their box and await their float player to finish the connection. This can potentially remove a second or two of time off the buff process, which can be helpful if the float player is running late due to angelic's or other complications. Its important to note that when your fixed position gets the angelic spawn it will lock down your tether box. Its also important to announce the angelic spawn location, so that your float player knows to come and assist you. Call out your location, not your name as it will help with confusion as to which position your located at.</p>

					<h2 id="small-title">Float Players</h2>
						<p id="details">The float players will be moving between their two designated positions rebuffing the fixed players at those positions. The floats are bottom-left and top-right. Ideally you will begin the buff process for the starting location right as "defenses subside" text prompt appears but a few seconds before is not bad either. Once the first fixed position is buffed, the float will use the portals to move to their other fixed location and buff that player, then listen out for an angelic call out. If both of your players are buffed, its acceptable for a float player to move to a non float position to give assistance to the other floaters positions if they have angelic's that round. If you do move to help, try to only kill one angelic before returning back to your side as to prevent a delay in buffs and possible lockout if angelic's spawn while you rebuff your designated positions.</p>

					<h2 id="small-title">Central Relay</h2>
						<p id="details">Once all four locations have cleared their angelic waves, the shields sealing off the central relay will drop and all players should progress inwards towards the central relay. There will be red bar goblins that spawn in the hallways your running down, they can be killed but its ideal to move to the center before hand and then turn around to deal with them as they can occasionally teleport aggressively to middle and possibly sacrifice. Once at the middle, there will be one angelic shielding the central buff box, once its killed its important for all players to line up in a neat line form the box to the relay. Its very important to keep enough distance from the lead player to the end of the line to prevent the end from tethering to the front creating a circle rather than the central relay. For this reason its important to be on ground level, and in a neat line rather than standing on pillars or at strange angels as this can cause a wipe if players tether and don't receive the buff when the next add wave spawns. On the second wave there will be more red bars and two angelic's that need to be dealt with. Once the angelic's and adds are down, players will buff again for the final wave. The last wave has four angelic's and the two waves of red bars as well as explosive harpies called supplicants. Once the last of the enemies have been killed the round will end and the encounter will be cleared.</p>

				<h2 id="small-title">Third Encounter</h2>
				<%= image_tag "garden/harpy_eyes.png" %></br>
				<%= image_tag "garden/garden_layout.png" %></br>
				<p id="details"></p>

				<h2 id="small-title">Boss Encounter</h2>
				<%= image_tag "garden/garden_final.jpg" %></br>
				<p id="details"></p>

			<div id="link-to-home"><%= link_to "Home", root_path, method: "get"%></div>
		</div>
	</body>
</html>

