<html>
	<body>
		<div id="content">
			<div id="link-to-home"><%= link_to "Home", root_path, method: "get"%></div>

				<h1 id="title">Garden of Salvation</h1>
				<%= link_to "Home", root_path, method: "get"%>
				

				<h2 id="small-title">First Encounter</h2>
				<%= image_tag "garden/first_encounter_door.jpg" %></br>

					<p id="details">For the first encounter load out is relative to what you feel comfortable with, I personally like to use a high damage super, a high impact sniper, good add clear weapon for the energy slot and either an LMG or grenade launcher in the heavy slot. If your looking to mix up your load out a sword is also works for killing the champions. For this encounter the teams will be split into two teams of three. You initially will have a stay team who will hang back and babysit the boss, and a go team who will move forward through the first door and clear adds in the following room. These teams will leapfrog each other as the encounter progresses, with each jump having the teams swap roles. </p>

					<h2 id="small-title">Stay Team</h2>
					<p id="details">The first team to stay behind, will be responsible for picking up the bosses wipe mechanic in the form of a large square mote the boss spits out. When picking up this mote, you will be given a 2 minute debuff called voltaic overflow. This debuff will cause you to die if you pick up another mote while its active. Be aware that the mote pickups are proximity based, so standing too close to a player picking up will also give you the debuff, if you already have it this will cause a death. Pickups can be called before hand, and should be staggered between the three players. Once a player has picked up they should be concentrating on add clear, after the first pickup two cyclopes will spawn in the arena with the boss and should be dealt with as quickly as possible. Once the away team has opened the door in the forward area, the stay team will progress past the away team and their roles will be swapped.</p>

					<h2 id="small-title">Away Team</h2>
					<p id="details">The away team will initially be the ones opening the door at the start of the encoutner, and then will progress forward into the next room killing adds as they move. There will be one overload minotaur and one cyclops, as well as a handful of red bar goblins and two hobgoblins. Once these adds have been killed, a yellow bar hydra will spawn called an "angelic" and when this final add is killed it will remove the shield over the tether box allowing the team to form a chain form the box to the tether point on the forward door. Once this door opens, the boss will dive into the ground from the previous room into the room that was just cleared, be careful of the boss entering the room as it will kill anyone standing in its spawn area. The away team will become responsible for picking up the bosses mote and preventing the wipe while the original stay team will progress forward and clear the room. This will allow the teams to stagger their pickups and prevent the need for players to sacrifice a life in order to pick up the mote.</p>

					<h2 id="small-title">Final Run</h2>
					<p id="details">After the last door is opened, the two teams will merge together for a final run down a long runway with multiple cyclopes on either side and three overload minotaurs at each pickup location. At this point its imperative to pick up the bosses mote, even if it means a player sacrificing themselves. As long as the revive timer hasn't been expended in previous rooms, you can afford to sacrifice a player to each of the three spits as the boss teleports down the runway. The overload minotaurs can be left alive if needed, but the cyclopes need to be killed as quickly as possible to prevent multiple players dying while picking up the bosses mote spit. Once the three motes have been picked up, the boss will move a final time and then retreat into the ground ending the first encounter.  </p>

				<h2 id="small-title">Second Encounter</h2>
				<%= image_tag "garden/garden_relay.jpg" %></br>

					<p id="details"></p>

				<h2 id="small-title">Third Encounter</h2>
				<%= image_tag "garden/harpy_eyes.png" %></br>
				<%= image_tag "garden/garden_layout.png" %></br>
				<p id="details"></p>

				<h2 id="small-title">Boss Encounter</h2>
				<%= image_tag "garden/garden_final.jpg" %></br>
				<p id="details"></p>

			<div id="link-to-home"><%= link_to "Home", root_path, method: "get"%></div>
		</div>
	</body>
</html>

