<h1>Garden of Salvation</h1>
<%= link_to "Home", root_path, method: "get"%>
<h2>First Encounter</h2>
<%= image_tag "garden/first_encounter_door.jpg" %></br>
<h2>Second Encounter</h2>
<%= image_tag "garden/garden_relay.jpg" %></br>
<h2>Third Encounter</h2>
<%= image_tag "garden/harpy_eyes.png" %></br>
<%= image_tag "garden/garden_layout.png" %></br>
<h2>Boss Encounter</h2>
<%= image_tag "garden/garden_final.jpg" %></br>
