<%= link_to "Home", root_path, method: "get"%>
<h1>Levithan</h1>

<h2>Castellum</h2>
<%= image_tag "levi/castellum.jpg" %></br>

<h2>Underbelly</h2>
<p>The underbelly is a speedier way to make it between the multiple activities as well as a holding the chests to be unlocked by the keys you acquire after each successful completion of the encounters</p>
<%= image_tag "levi/placeholder.png" %></br>

<h2>Dogs - Normal</h2>

<p>The dogs encounter can be broken down into 2 separate roles, the crystal players and the spore players. The assignments for dogs should be done before the encounter starts, with the two crystal players taking the L3 and R3 flowers respective to the side that their crystal is on.</p>

<h3>Crystals</h3>

<p> The crystal players will be responsible for the two flower pops on either side, left and right. The right crystal player will be responsible for more movement between the empower spots, the glowing pools of light on top of the rocks. Standing in these pools of light allow for you to fire the crystals, either to detonate the flowers giving the spore team their spores or to kill the beast masters that spawn after each flower is detonated. The crystal players want to be aware of dog positioning when moving between pools of light. The left crystal has a much easier job, as it will sit on top of the golden Calus skull and should be capable of hitting any of the flowers from this position.</p></br>

<h3>Spores</h3>

<p>The spore team is divided between one leader and three followers. The leader will be responsible for guiding the other spore players to the flowers and avoiding the dogs. Its important to follow closely but not to push or fall behind the leader or other followers. The spore players will be moving from flower to flower, grouping together as close as possible to the flowers when the detonation happens to ensure they are all being counted in the spore collection. The amount of players by the flower when it detonates directly impacts the amount of spores that are gained by the team. Spores are shared between all players, including the crystal players.</p>

<h3>Dog Damage Phase</h3>

<p>When going to do damage to the dogs, its important to know if its going to be a damage or kill phase. If your stacks of spores are below 24, you will most likely be doing a damage and not a kill phase. This will vary based on difficulty, with prestige being a reliable kill at 36 stacks versus 24 for normal. Your ideal damage will be done with high impact close range weapons such as shotguns and fusion rifles or with your super. For this reason, tractor cannon can play a very important role in adding additional damage to make up for lower spore counts. Once your dog is dead, its good to go and check the other dog locations on your side to see if you can assist your team mates in killing their dogs. If you feel like you will need assistance in killing your dog its important to call out your specific dog location rather than your name/ yelling for help generically</p>

<%= image_tag "levi/dogs_norm.jpg" %></br>
<h2>Dogs - Pres</h2>
<%= image_tag "levi/dog_pres.jpg" %></br>
<h3>Differences from normal:</h3>

<p>The mechanics and format are the same, with the exception of dog locations having an additional two dogs patrolling the map. These additional two dogs are added as community dogs, to be taken out by any player on that side who has already killed off their specific dog. Generally these dogs will be the rocks and trees dogs given they are equal distances between all of the flowers. If people are struggling finding the communal dog spots, more experienced players can be put onto the central locations and the community dogs can be assigned to the R1/L1 locations right by the safe room.</p>

<h2>Gauntlet</h2>
<%= image_tag "levi/gauntlet2.png" %></br>

<h3>Setup/Add Clear</h3>

<p>The gauntlet encounter can be broken down into two teams of three. Each team will have three separate roles, the runner, the puncher, and the plate holder. Each team will be positioned on the starting points of the encounter, dogs and cup. The teams will also be responsible for add clear at the plate to their immediate right. One player should float between the two sides their team is responsible for, helping their team mates to kill the adds as they spawn. Once enough time has elapsed, a chime will sound and a yellow bar centurion will spawn. Once the centurion has been cleared, all players should go and take their position on the starting plate.</p>

<p>Your load out should be geared towards add clear, with one large magazine primary ammo weapon for shooting the triangles as a puncher or plate player. Any super is acceptable, they will not be necessary outside of the add clear phase</p>

<h3>Runner</h3>

<p>The runners job is to pick up the orb, which will spawn in the golden podium against the wall on either the dog or cup section. Once you pick up the orb, you will be teleported into the gauntlet to run the orb through the gauntlet. Once the plate player is in position, one of the nine circles will appear read (ref picture). Only the lateral position matters, as in top middle or bottom. This is a pivotal call out as it lets the plate and punch player know which triangles to shoot. Its important to call out the specific symbol your at, so that in case of simultaneous call outs from the two runners the outside players will be able to differentiate. If the correct symbols are shot, a orb will appear in the red circle. Picking up this orb extends the duration of the kill timer for the runner, there is no actual timer but as the timer gets lower the runners screen will slowly begin to turn more white until the orb detonates. Once the runner completes a full circle, they will appear back on the area they collected their orb from and then will proceed to the central elevator to dunk their orb. This process will be repeated three times, with the gray areas in the gauntlet falling out on the second and third runs.</p>

<h3>Puncher</h3>

<p>The punchers has two roles in this encounter. One role is to shoot the bottom most of the two triangles( middle and bottom) depending on which position was called. For example, if the runner calls middle, the puncher is responsible for shooting the bottom triangle. If the call was bottom, they puncher will shoot middle. Never will a puncher shoot the top most triangle. Once the triangles are shot and the orb is spawned for the runner, the runner will collect the orb which will in turn spawn a shielded psion in between the two large flaming braziers in front of the triangles. This psion can not be shot, and must be punched inside of his bubble. If there is more than ~3 second delay an additional projection will spawn on one of the columns on the side the punch was on and needs to be killed quickly to prevent the wipe. These additional projections can be killed at range. The shielded psion spawn will bump the puncher back so its important to not stand directly on the spawn point for the puncher, less you get knocked back and end up with a delayed kill. Once your psion has been punched, quickly move to the next plate and assist in shooting your triangle. The puncher does not have to be in position to shoot a triangle, and generally should be prepared to fire on the move and be ready for their punch when moving to the next plate. The puncher and plate person rotates clockwise as a team.</p>

<h3>Plate</h3>

<p>The plate players responsible for sitting on top of their respective sides plate, and will rotate around clockwise as their runner progresses through the gauntlet. Standing on the plate causes one of the nine circles on each wall to light up, allowing the runner to make the call for the plate and punch players to shoot the correct corresponding triangles. The plate player is responsible for the top most triangle, meaning they will be shooting either the top or middle triangle, never shooting the bottom. For example, if the runner were to call middle, the plate player would be shooting the top and if the top is called they are responsible for the middle triangle. Once the plate player has hit their triangle and they have turned green or red, they are safe to leave the plate and rotate clockwise to the next plate allowing the runner to progress. Its imperative the plate players stay on their plates until the triangles have been shot and to move quickly between plates with the runner. On the final third run, the plates will bob up and down slightly, this should not severely impact aim but is to be considered.</p>

<h3>Final Run</h3>
Once all 3 runs have been successfully completed, all six players will run to the center of the arena and six orbs will spawn around the elevator. Each player must manually collect these orbs, being teleported into the gauntlet once they do. All six players will then proceed to run forward, with each team collecting time extension orbs at the walls. Its important to note that each wall will contain less orbs than total players, so its important to space the orb pickups out between the two respective teams. The dogs team will pick up the first, third, and final fifth set of orbs as they travel around the gauntlet. The dogs team will be picking up on the second and fourth wall. Its imperative you don't steal the opposing teams orbs as it will cause the other teams runners to be short an orb and subsequently detonate before they are able to pick up another orb. Its also important to call out which orb your claiming when its your teams turn to pick up orbs as it will prevent two team members going for the same orb and causing a traffic jam or even worse a missed orb resulting in detonation. A total of nine orbs dunked are required to complete this encounter, with six of these orbs coming from the beginning three waves of the gauntlet and the last three coming from the fire team run. For each death in the normal gauntlet run, an additional team mate is required to make it through the final gauntlet phase in order to make up the difference. Once all nine orbs have been deposited, the encounter will end.

<h3>Prestige</h3>

<p>The difference in the prestige gauntlet is that each player is required to do each of the activities. This means that each player will rotate through each of the roles, in the order of plate -> punch -> run with the runners starting at the beginning of the cycle and so on. The plate player will also have the added responsibility of shooting a floating projection that will spawn when the puncher kills their psion. This projection will be damageable from range. The runner and punchers roles don't change.</p>

<h2>Baths</h2>
<%= image_tag "levi/Baths.jpg" %></br>
<h2>Calus</h2>
<h2>Calus Void</h2>
<%= image_tag "levi/calus_void.png" %></br>
<%= link_to "Home", root_path, method: "get"%>