<%= link_to "Home", root_path, method: "get"%>
<h1>Levithan</h1>
<h2>Castellum</h2>
<%= image_tag "castellum.jpg" %></br>
<h2>Underbelly</h2>
<%= image_tag "placeholder.png" %></br>
<h2>Dogs - Normal</h2>
<%= image_tag "dogs_norm.jpg" %></br>
<h2>Dogs - Pres</h2>
<%= image_tag "dog_pres.jpg" %></br>
<h2>Gauntlet</h2>
<%= image_tag "gauntlet2.png" %></br>
<h2>Baths</h2>
<%= image_tag "Baths.jpg" %></br>
<h2>Calus</h2>
<h2>Calus Void</h2>
<%= image_tag "calus_void.png" %></br>
<%= link_to "Home", root_path, method: "get"%>