<%= link_to "Home", root_path, method: "get"%>
<h1>Levithan</h1>
<h2>Castellum</h2>
<%= image_tag "levi/castellum.jpg" %></br>
<h2>Underbelly</h2>
<p>The underbelly is a speedier way to make it between the multiple activities as well as a holding the chests to be unlocked by the keys you acquire after each successful completion of the encounters</p>
<%= image_tag "levi/placeholder.png" %></br>
<h2>Dogs - Normal</h2>
<p>The dogs encounter can be broken down into 2 separate roles, the crystal players and the spore players. The assignments for dogs should be done before the encounter starts, with the two crystal players taking the L3 and R3 flowers respective to the side that their crystal is on.</p>
<h3>Crystals</h3>
<p> The crystal players will be responsible for the two flower pops on either side, left and right. The right crystal player will be responsible for more movement between the empower spots, the glowing pools of light on top of the rocks. Standing in these pools of light allow for you to fire the crystals, either to detonate the flowers giving the spore team their spores or to kill the beast masters that spawn after each flower is detonated. The crystal players want to be aware of dog positioning when moving between pools of light. The left crystal has a much easier job, as it will sit on top of the golden Calus skull and should be capable of hitting any of the flowers from this position.</p></br>
<h3>Spores</h3>
<p>The spore team is divided between one leader and three followers. The leader will be responsible for guiding the other spore players to the flowers and avoiding the dogs. Its important to follow closely but not to push or fall behind the leader or other followers. The spore players will be moving from flower to flower, grouping together as close as possible to the flowers when the detonation happens to ensure they are all being counted in the spore collection. The amount of players by the flower when it detonates directly impacts the amount of spores that are gained by the team. Spores are shared between all players, including the crystal players.</p>
<h3>Dog Damage Phase</h3>
<p>When going to do damage to the dogs, its important to know if its going to be a damage or kill phase. If your stacks of spores are below 24, you will most likely be doing a damage and not a kill phase. This will vary based on difficulty, with prestige being a reliable kill at 36 stacks versus 24 for normal. Your ideal damage will be done with high impact close range weapons such as shotguns and fusion rifles or with your super. For this reason, tractor cannon can play a very important role in adding additional damage to make up for lower spore counts. Once your dog is dead, its good to go and check the other dog locations on your side to see if you can assist your team mates in killing their dogs. If you feel like you will need assistance in killing your dog its important to call out your specific dog location rather than your name/ yelling for help generically</p>
<%= image_tag "levi/dogs_norm.jpg" %></br>
<h2>Dogs - Pres</h2>
<%= image_tag "levi/dog_pres.jpg" %></br>
<h3>Differences from normal:</h3>
<p>The mechanics and format are the same, with the exception of dog locations having an additional two dogs patrolling the map. These additional two dogs are added as community dogs, to be taken out by any player on that side who has already killed off their specific dog. Generally these dogs will be the rocks and trees dogs given they are equal distances between all of the flowers. If people are struggling finding the communal dog spots, more experienced players can be put onto the central locations and the community dogs can be assigned to the R1/L1 locations right by the safe room.</p>
<h2>Gauntlet</h2>
<%= image_tag "levi/gauntlet2.png" %></br>
<h2>Baths</h2>
<%= image_tag "levi/Baths.jpg" %></br>
<h2>Calus</h2>
<h2>Calus Void</h2>
<%= image_tag "levi/calus_void.png" %></br>
<%= link_to "Home", root_path, method: "get"%>