<html>
	<body>
		<div id="content">
			<%= link_to "Home", root_path, method: "get"%>
			<h1>Levithan</h1>

			<h2>Castellum</h2>
			<%= image_tag "levi/castellum.jpg" %></br>

			<h2>Underbelly</h2>
			<p>The underbelly is a speedier way to make it between the multiple activities as well as a holding the chests to be unlocked by the keys you acquire after each successful completion of the encounters</p>
			<%= image_tag "levi/placeholder.png" %></br>

			<h2>Dogs - Normal</h2>

			<p>The dogs encounter can be broken down into 2 separate roles, the crystal players and the spore players. The assignments for dogs should be done before the encounter starts, with the two crystal players taking the L3 and R3 flowers respective to the side that their crystal is on.</p>

			<h3>Crystals</h3>

			<p> The crystal players will be responsible for the two flower pops on either side, left and right. The right crystal player will be responsible for more movement between the empower spots, the glowing pools of light on top of the rocks. Standing in these pools of light allow for you to fire the crystals, either to detonate the flowers giving the spore team their spores or to kill the beast masters that spawn after each flower is detonated. The crystal players want to be aware of dog positioning when moving between pools of light. The left crystal has a much easier job, as it will sit on top of the golden Calus skull and should be capable of hitting any of the flowers from this position.</p></br>

			<h3>Spores</h3>

			<p>The spore team is divided between one leader and three followers. The leader will be responsible for guiding the other spore players to the flowers and avoiding the dogs. Its important to follow closely but not to push or fall behind the leader or other followers. The spore players will be moving from flower to flower, grouping together as close as possible to the flowers when the detonation happens to ensure they are all being counted in the spore collection. The amount of players by the flower when it detonates directly impacts the amount of spores that are gained by the team. Spores are shared between all players, including the crystal players.</p>

			<h3>Dog Damage Phase</h3>

			<p>When going to do damage to the dogs, its important to know if its going to be a damage or kill phase. If your stacks of spores are below 24, you will most likely be doing a damage and not a kill phase. This will vary based on difficulty, with prestige being a reliable kill at 36 stacks versus 24 for normal. Your ideal damage will be done with high impact close range weapons such as shotguns and fusion rifles or with your super. For this reason, tractor cannon can play a very important role in adding additional damage to make up for lower spore counts. Once your dog is dead, its good to go and check the other dog locations on your side to see if you can assist your team mates in killing their dogs. If you feel like you will need assistance in killing your dog its important to call out your specific dog location rather than your name/ yelling for help generically</p>

			<%= image_tag "levi/dogs_norm.jpg" %></br>
			<h2>Dogs - Pres</h2>
			<%= image_tag "levi/dog_pres.jpg" %></br>
			<h3>Differences from normal:</h3>

			<p>The mechanics and format are the same, with the exception of dog locations having an additional two dogs patrolling the map. These additional two dogs are added as community dogs, to be taken out by any player on that side who has already killed off their specific dog. Generally these dogs will be the rocks and trees dogs given they are equal distances between all of the flowers. If people are struggling finding the communal dog spots, more experienced players can be put onto the central locations and the community dogs can be assigned to the R1/L1 locations right by the safe room.</p>

			<h2>Gauntlet</h2>
			<%= image_tag "levi/gauntlet2.png" %></br>

			<h3>Setup/Add Clear</h3>

			<p>The gauntlet encounter can be broken down into two teams of three. Each team will have three separate roles, the runner, the puncher, and the plate holder. Each team will be positioned on the starting points of the encounter, dogs and cup. The teams will also be responsible for add clear at the plate to their immediate right. One player should float between the two sides their team is responsible for, helping their team mates to kill the adds as they spawn. Once enough time has elapsed, a chime will sound and a yellow bar centurion will spawn. Once the centurion has been cleared, all players should go and take their position on the starting plate.</p>

			<p>Your load out should be geared towards add clear, with one large magazine primary ammo weapon for shooting the triangles as a puncher or plate player. Any super is acceptable, they will not be necessary outside of the add clear phase</p>

			<h3>Runner</h3>

			<p>The runners job is to pick up the orb, which will spawn in the golden podium against the wall on either the dog or cup section. Once you pick up the orb, you will be teleported into the gauntlet to run the orb through the gauntlet. Once the plate player is in position, one of the nine circles will appear read (ref picture). Only the lateral position matters, as in top middle or bottom. This is a pivotal call out as it lets the plate and punch player know which triangles to shoot. Its important to call out the specific symbol your at, so that in case of simultaneous call outs from the two runners the outside players will be able to differentiate. If the correct symbols are shot, a orb will appear in the red circle. Picking up this orb extends the duration of the kill timer for the runner, there is no actual timer but as the timer gets lower the runners screen will slowly begin to turn more white until the orb detonates. Once the runner completes a full circle, they will appear back on the area they collected their orb from and then will proceed to the central elevator to dunk their orb. This process will be repeated three times, with the gray areas in the gauntlet falling out on the second and third runs.</p>

			<h3>Puncher</h3>

			<p>The punchers has two roles in this encounter. One role is to shoot the bottom most of the two triangles( middle and bottom) depending on which position was called. For example, if the runner calls middle, the puncher is responsible for shooting the bottom triangle. If the call was bottom, they puncher will shoot middle. Never will a puncher shoot the top most triangle. Once the triangles are shot and the orb is spawned for the runner, the runner will collect the orb which will in turn spawn a shielded psion in between the two large flaming braziers in front of the triangles. This psion can not be shot, and must be punched inside of his bubble. If there is more than ~3 second delay an additional projection will spawn on one of the columns on the side the punch was on and needs to be killed quickly to prevent the wipe. These additional projections can be killed at range. The shielded psion spawn will bump the puncher back so its important to not stand directly on the spawn point for the puncher, less you get knocked back and end up with a delayed kill. Once your psion has been punched, quickly move to the next plate and assist in shooting your triangle. The puncher does not have to be in position to shoot a triangle, and generally should be prepared to fire on the move and be ready for their punch when moving to the next plate. The puncher and plate person rotates clockwise as a team.</p>

			<h3>Plate</h3>

			<p>The plate players responsible for sitting on top of their respective sides plate, and will rotate around clockwise as their runner progresses through the gauntlet. Standing on the plate causes one of the nine circles on each wall to light up, allowing the runner to make the call for the plate and punch players to shoot the correct corresponding triangles. The plate player is responsible for the top most triangle, meaning they will be shooting either the top or middle triangle, never shooting the bottom. For example, if the runner were to call middle, the plate player would be shooting the top and if the top is called they are responsible for the middle triangle. Once the plate player has hit their triangle and they have turned green or red, they are safe to leave the plate and rotate clockwise to the next plate allowing the runner to progress. Its imperative the plate players stay on their plates until the triangles have been shot and to move quickly between plates with the runner. On the final third run, the plates will bob up and down slightly, this should not severely impact aim but is to be considered.</p>

			<h3>Final Run</h3>
			Once all 3 runs have been successfully completed, all six players will run to the center of the arena and six orbs will spawn around the elevator. Each player must manually collect these orbs, being teleported into the gauntlet once they do. All six players will then proceed to run forward, with each team collecting time extension orbs at the walls. Its important to note that each wall will contain less orbs than total players, so its important to space the orb pickups out between the two respective teams. The dogs team will pick up the first, third, and final fifth set of orbs as they travel around the gauntlet. The dogs team will be picking up on the second and fourth wall. Its imperative you don't steal the opposing teams orbs as it will cause the other teams runners to be short an orb and subsequently detonate before they are able to pick up another orb. Its also important to call out which orb your claiming when its your teams turn to pick up orbs as it will prevent two team members going for the same orb and causing a traffic jam or even worse a missed orb resulting in detonation. A total of nine orbs dunked are required to complete this encounter, with six of these orbs coming from the beginning three waves of the gauntlet and the last three coming from the fire team run. For each death in the normal gauntlet run, an additional team mate is required to make it through the final gauntlet phase in order to make up the difference. Once all nine orbs have been deposited, the encounter will end.

			<h3>Prestige</h3>

			<p>The difference in the prestige gauntlet is that each player is required to do each of the activities. This means that each player will rotate through each of the roles, in the order of plate -> punch -> run with the runners starting at the beginning of the cycle and so on. The plate player will also have the added responsibility of shooting a floating projection that will spawn when the puncher kills their psion. This projection will be damageable from range. The runner and punchers roles don't change.</p>

			<h2>Baths</h2>
			<%= image_tag "levi/Baths.jpg" %></br>

			<h3>Loadout</h3>

			<p>For this encounter you will be dealing mostly with red bar mobs and one large yellow bar add. The yellow bars will need some sort of high damage special or heavy weapon, a high impact fusion or aggressive frame shotgun work well. A mid to short range primary weapon works well for add clear. For heavy LMG's or grenade launchers work well, as well as certain exotics such as Xenophage or One Thousand Voices. You'll want one player to run well with Lunafactions and any titans should run top tree hammers. Hunters can be on either golden gun or tether. Ideally all guardians will be saving their super for the damage phase.</p>

			<h3>Plates</h3>

			<p>Plate teams are divided up into two teams of three. Two plate holders, and one floater. Each plate functions identically so this explanation will work for any of the four main plate locations. Each player will jump onto their plate at the same time, picking up the buff hovering over their respective plate. This buff allows the player to stand in the water that covers each of their plates without receiving damage. As the players stand on the plate, small add waves of red bar psion and legionnaire's will spawn in. Once per plate rotation a large yellow bar bather will spawn, these are very similar to gladiators. You must kill these as quickly as possible, not only do they do a lot of damage their attacks can potentially physics kill you as well. When the plate players jump onto their plates, the floater on each side will be in the central area, each picking up a buff floating over the central plate and going to take over the top most plate on their side first. Once the encounter starts, the central plates buff is the only one that will re-spawn. Once the top player is relieved, they will rotate through the central plate picking up another buff and then going to relive the bottom player, who in turn will get another buff and then relive the top player. This cycle continues on until all of the chains are locked, which is signified by a distinct gong/chime sound.</p>

			<h3>Lanterns</h3>

			<p>Once the gong has sounded signifying the end of the plate phase, the lantern/damage phase begins. Before heading to the center, kill all remaining adds at your respective plate and then head to the center, hanging out on the sides of the room waiting for a count down to jump onto the center plate. Once on the center plate, a well should be placed and supers will be used to do as much damage as possible to the lanterns. There are three clusters of three lanterns in the main room. Each cluster must be killed to finish the encounter. While this phase is active, bathers will be intermittently spawning in the pools underneath the lanterns. They can be killed, but if times is an issue they can also be ignored in favor of finishing the encounter. Once all lamps have been killed, the encounter ends.</p>

			<h3>Prestige</h3>

			<p>The main difference between the regular and prestige baths are that the bathers when killed, drop a pool of oil on their bodies. This oil will cause the buff given by the orbs to expire much quicker, generally leading to the death of the player holding the plate. To prevent this, all bathers must be killed as quickly as possible and take precedence over the normal red bar add waves.</p>

			<h2>Calus</h2>

			<h3>Loadout</h3>

			<p>For this encounter your looking to have one high damage output ranged weapon. Ideally a high damage sniper rifle like Izanagi's Burden or Whisper of the Worm would be the go to, if these aren't accessible a grenade launcher with spike grenades or energy sniper rifle with an ammo return perk would also work. If none of these options are available a LMG will also work. For supers, hunters will want to be using bottom tree golden gun with celestial night hawk if possible. Warlocks should be running well, with Lunafactions if possible. Ideally one titan can run bubble, dropping it between the first and second damage plate so that it can be used in between, especially if there is only one warlock running well. </p>

			<h3>Throne room</h3>

			<p>To begin the encounter, all players will start in the throne room, starting at the top right corner and moving to the mid then left corner clearing adds until all adds have been eliminated. Once the shielded psions appear Calus will clap his hands bringing the fire team into the void room. If you are returning to the throne room, select one of the three orbs beyond the first barrier and jump into them. The orbs should be decided before hand, and can be determined based on the throne room players position. The three positions for throne room are left, puncher/mid, and right. The left and right players will be solely responsible for clearing the adds that spawn on their side, as well as the occasional add wave spawning from the central door under Calus's platform. The central punch player will be responsible for listening to the call outs from the void room players, punching the psion with the symbol above its head that was not called out by the void room players. For example, void call outs of dog, sun, ax, would then result in the cup psion being punched. This will add an additional barrier in the void room and prevent the void room players from being sucked into Calus's mouth. Once the void room players finish off their final wave of psions, Calus will raise his hands above his head and summon an overshield. The players in the throne room will then begin taking damage, and should begin weakening the shield but not breaking it. One designated player will be made the shield breaker, usually the person punching psions, when their health bar hits the red its time to break the shield. If you have over 7 resilience, break the shield right before your damage hits red. If you fail to break the shield in time, it will detonate wiping the encounter. Breaking the shield stops the skull spawn mechanic for the void players, so its ideal to let the mechanic go to full length as to maximize damage. The shield break also spawns in the orbs for the void players to return to the throne. </p>

			<h3>Void Room</h3>
			<%= image_tag "levi/calus_void.png" %></br>

			<p>The void room players have two jobs, calling out the symbols in the middle of Calus's forehead for the throne room puncher as well as killing psions and their projections. When in the void, symbols are read from left player to right, and called in as quick succession as possible allowing the throne room puncher enough time to summon the next barrier before the current one disappears. Its important to check your symbol after each spawning of a barrier as they will change on each successive punch. As soon as the first symbol is called, two psion projections will spawn. These must be killed as quickly as possible to prevent the wipe mechanic, similarly to the gauntlet psions. After the first barrier has been cleared, three red bar psions will also spawn in with the projection waves. The easiest way to clear these psions is to cross shoot for the left and right players, with left shooting far right psion and right shooting far left. This prevents the obstacles in the void room from blocking a shot. The psions, if not killed immediately, will throw grenades popping the players into the air and over the barriers. Red bar psions therefore take priority kill over the projections. For this, I personally like to run a LMG as its ammo count and damage capabilities exceed any primary ammo weapon. If the heavy slot is needed for damage, a pulse rifle or auto rifle can be used instead. Once four barriers have been cleared, a final wave of psions and projections will spawn but no symbols need to be called. Once the last wave of adds is clear, Calus will stop sucking in air and begin to puke out floating skulls. Its best to group together, ideally in a lunafaction rift or behind a rally barricade. A high capacity magazine weapon would be the best option, allowing for as many skulls killed as possible without the slow down of a reload. Once the throne room players hit the critical point in the Calus shield phase, they will pop the shield summoning return orbs in the void room allowing the void players to return to the throne. </p>

			<h3>Damage Phase</h3>

			<p>For the damage phase, starting on the bottom right plate is the best and most safe strategy in my opinion. This is because the plates can potentially become active if a player jumps over them, and this prevents any accidental activations. There will be swarms of dogs running, dont kill these dogs unless you need to kill to activate a damage bonus perk such as striking hand. A countdown will be made to jump onto the plate, then damage begins. The well will be dropped in the back of the plate, placing the sword as out of the way as possible. Damage will continue until Calus becomes immune, right before he will fire on the plate killing anyone that doesn't jump off in time. Movement to the next plate can happen immediately, rotating clockwise around the plates for damage dropping wells or rifts on each plate to help with damage and reload speed. Once Calus's health has been depleted, he will enter his final stand where he summons a shield above him. This shield must be broken to prevent a full wipe. Once its broken, the damage phase is over and Calus is defeated.</p>

			<h3>Prestige</h3>

			<p>The main difference between normal and prestige are when the person in throne room punches a psion, it randomly selects one of the void room players and swaps them out with the puncher. This means its important to not only have one dedicated puncher to prevent any confusion and loss of add clear in the throne room, but also that the puncher is capable and comfortable playing both positions. This also holds true for all void players, as they will potentially be responsible for punching psions themselves. Its important for the void player being taken out to call out their specific position, with the person being pulled in filling their exact role. Later into the void room phases, it can take a considerable amount of time for the pulled player to reach their wall so its imperative the other remaining void room players are capable of picking up the slack in regards to killing psions and projections. Damage phase progresses as normal. If the players fail to kill Calus on one damage phase, the next phase of the void room will be missing sections of the floor so its important for the void room players to be aware of the arena changes on the second run and accordingly plan their position out to avoid the holes.</p>

			<%= link_to "Home", root_path, method: "get"%>
		</div>
	</body>
</html>