<%= link_to "Home", root_path, method: "get"%>
<h1>Eater of Worlds</h1>
<h2>Jumping Puzzle</h2>
<%= image_tag "eater/eater_jumping.png" %></br>
<p>For the jumping puzzle, its as simple as following the leader. The plates can only support one player at a time, if two touch the same plate at the same time it will turn red and fall into the water killing both players. Its imperative to maintain rank and composure when doing this jumping puzzle as panic will generally result in a death or potential failure of the puzzle back to the previous checkpoint. With the assistance of the graphic provided above, there will be slight deviations in the route which you will be taking between the main 3 checkpoints on the way to the finish. The first set of jumps can be handled normally, making sure the player ahead of you has cleared their plate before following on. Once the plates all turn red and the message 'core temperature rises', its safe to move as quickly as possible to the checkpoint. Only 3 players need to make it to the checkpoint to be able to bring the plates up into a locked position, usually 1-2 minutes after standing at the checkpoint. The second set of plates will split into two teams, one right and one left. Teams will alternate between adding players to their plate string, eventually joining after all 6 players have jumped down and moved forward, with the right team leading on the rejoin at plate 9. The third set of plates will branch off after the 6th player is on the board, at the 4th players position. Instead of following to the right, the 4th player will branch off left and continue on until they have advanced 3 places and then allowing the right players to move forward to the checkpoint. The final set of plates, will have one player skipping over, to jump past the eight plate to the seventh.</p>
<h2>Argos Phase 1</h2>
<%= image_tag "eater/argosp1.png" %></br>
<%= image_tag "eater/argos_gem.jpg" %></br>
<h2>Argos Phase 2</h2>
<%= image_tag "eater/argos_orbs.jpg" %></br>
<%= link_to "Home", root_path, method: "get"%>