<h1>Eater of Worlds</h1>
<h2>Jumping Puzzle</h2>
<%= image_tag "eater/eater_jumping.png" %></br>
<h2>Argos Phase 1</h2>
<%= image_tag "eater/argosp1.png" %></br>
<%= image_tag "eater/argos_gem.jpg" %></br>
<h2>Argos Phase 2</h2>
<%= image_tag "eater/argos_orbs.jpg" %></br>
<%= link_to "Home", root_path, method: "get"%>