<center><h1>Choose a Raid:</h1></center>
<center><%= link_to "Leviathan", leviathan_index_path, method: "get"%></center></br>
<center><%= link_to "Eater Of Worlds", eater_index_path, method: "get"%></center></br>
<center><%= link_to "Spire of Stars", spire_index_path, method: "get"%></center></br>
<center><%= link_to "Last Wish", last_wish_index_path, method: "get"%></center></br>
<center><%= link_to "Scourge of the Past", scourge_index_path, method: "get"%></center></br>
<center><%= link_to "Garden of Salvation", garden_index_path, method: "get"%></center></br>
<center><h1>Choose a Dungeon:</h1></center>