<h1>Last Wish</h1>
<h3>Wish Wall Wishes</h3>
<%= image_tag "last_wish/wish_wall.jpg" %></br>
<h3>Symbol Names</h3>
<%= image_tag "last_wish/symbol_callouts.jpg" %></br>
<h2>Kalli</h2>
<%= image_tag "last_wish/Kali_Orbs.jpg" %></br>
<%= image_tag "last_wish/Kali_Doors.jpg" %></br>
<h2>Shuro-Chi</h2>
<%= image_tag "last_wish/shuro_expl.jpg" %></br>
<%= image_tag "last_wish/shuro_symbol.jpg" %></br>
<h2>Morgeth</h2>
<%= image_tag "last_wish/morgeth_str.jpg" %></br>
<h2>Vault</h2>
<%= image_tag "last_wish/vault_exp.jpg" %></br>
<h2>Riven</h2>
<%= image_tag "last_wish/riven_eyes.jpg" %></br>
<%= link_to "Home", root_path, method: "get"%>