<%= link_to "Home", root_path, method: "get"%>
<h1>Scourge of the Past</h1>
<%= image_tag "scourge/sotp_encounter_1.png" %></br>
<%= image_tag "scourge/scourge_below_routes.png" %></br>
<%= image_tag "scourge/scourge_below_puzzle.jpg" %></br>
<%= image_tag "scourge/boss_map.png" %></br>
