<%= link_to "Home", root_path, method: "get"%>
<h1>Crown of Sorrow</h1>
<h2>First Ecounter</h2>
<%= image_tag "crown/crown_order.jpg" %></br>
<%= image_tag "crown/crown_1st.jpg" %></br>
<h2>Second Ecounter</h2>
<%= image_tag "crown/crown_crystal.jpg" %></br>
<%= image_tag "crown/crown_chungus.jpg" %></br>
<%= image_tag "crown/deception_fight.jpg" %></br>
<h2>Final Ecounter</h2>
<%= image_tag "crown/gahl_arms.jpg" %></br>
<%= link_to "Home", root_path, method: "get"%>

